@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to COMP2084 Video Game Shop</h1>
    <p>This site is built on the Monday class using .NET core and SQL Server by Ivan Gibson</p>
    <a href="https://github.com/Rynestrm/Comp2084Assignment1A">GitHub Repo</a>
</div>
